*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10dvh;
}

#headImg{
    height: 9dvh;
}

#headImg> img{
    width: 8dvw;
    height: 100%;
}
#mob,#xmob{
    display: none;
}
nav{
    width: 50dvw;
    height: 9dvh;
    font-size: 1rem;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}

ul>li:hover{
    color: rgb(98, 0, 141);
}

#loginBtn{
    padding: 0.5rem 1rem;
    background-color: rgb(98, 0, 141);
    color: white;
    border-radius: 2rem;
    cursor: pointer;
}

#loginBtn:hover{
    color: rgb(98, 0, 141);
    background-color: white;
}

#mainContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
}

main{
    width: 80dvw;
    height : 30dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    background-color: white;
}

#mainText > h2, p{
    padding-left: 2rem;
    margin-bottom: 1rem;
}

#mainText > p{
    font-size: 0.8rem;
}

#mainImg{
    width: 30dvw;
    height: 100%;
}

#mainImg > img{
    width: 100%;
    height: 100%;
}

.underlined{
    border-bottom: 2px solid rgb(98, 0, 141);
}

#mostPopular{
    margin-bottom: 1.5rem;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80dvw;
    margin-bottom: 2rem;
}

.card{
    width: 25dvw;
    height: 50dvh;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cardImg, .cardImg > img{
    height: 35dvh;
    width: 100%;
}

.cardText{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* font-size: 0.85rem; */
    padding: 0 0.9rem;
}

.cardText > p{
    text-align: start;
    margin: 0.5rem 0;
    padding: 0;
    font-size: 0.85rem;
    height: 6dvh;
}

.subHeads{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5dvh;
    width: 100%;
    /* padding: 0 1rem; */
    font-size: 0.65rem;
}

footer{
    width: 80dvw;
    height: 20dvh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 2rem;
}

#testImg, #testImg>img{
    height: 100%;
    width: 10dvw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#testText{
    padding: 0.5rem 1rem;
    height: 100%;
    width: 70dvw;
    background-color: rgb(189, 134, 241);
}

#testText > h3{
    font-size: 1rem;
    margin-bottom: 0.2rem;
}
#testText > p{
    padding: 0;
    font-size: 0.6rem;
}

#testText > button{
    font-size: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid red;
    color: rgb(255, 0, 0);
    border-radius: 2rem;
    cursor: pointer;
}

#testText > button:hover{
    background-color: rgb(255, 0, 0);
    color: white;
    transition: 0.3s;
}

@media screen and (max-width: 450px) {
    header{
        flex-direction: column;
        align-items: start;
        height: auto;
        position: relative;
    }
    #headImg{
        height: 10dvh;
        margin-left: 1rem;
        margin-top: 0.5rem;
    }
    #headImg> img{
        width: 20dvw;
        height: 100%;
    }
    #mob{
        display: block;
        font-size: 1.3rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 1rem;
        margin-left: 1rem;
        margin-top: 0.5rem;
    }
    #xmob{
        display: none;
        font-size: 1.3rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 1rem;
        margin-left: 1rem;
        margin-top: 0.5rem;
    }
    nav{
        width: 100%;
        display: none;
        height: auto;
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    height: inherit;
}
ul>li{
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

ul>li:hover{
    color: rgb(98, 0, 141);
}
#loginBtn{
    padding: 0.3rem 0.7rem;
    display: none;
    background-color: rgb(98, 0, 141);
    color: white;
    font-size: 0.7rem;
    margin-left: 0.7rem;
    margin-bottom: 0.8rem;
    border-radius: 2rem;
    cursor: pointer;
}

#loginBtn:hover{
    color: rgb(98, 0, 141);
    background-color: white;
}
    main{
        width: 100%;
    }

    #mainText > h2{
        font-size: 1.2rem;
    }
    .cards{
        flex-direction: column;
        margin: 0;
    }

    .card{
        width: 100%;
        margin-bottom: 1rem;
    }

    #testImg, #testImg>img{
    width: 20dvw;
    }

    #testText{
        width: 60dvw;
    }

    #testText > h3{
    font-size: 0.5rem;
    margin-bottom: 0.2rem;
}
#testText > p{
    padding: 0;
    font-size: 0.4rem;
}

#testText > button{
    font-size: 0.4rem;
    padding: 0.3rem 0.6rem;
    background-color: white;
    border: 1px solid red;
    color: rgb(255, 0, 0);
    border-radius: 2rem;
    cursor: pointer;
}
}